*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Normalmente o valor padrão é 16px sendo assim 62.5% passa a ser 10px  */
  font-size: 62.5%;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  box-sizing: border-box;
  background-color: $color-white;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // -webkit-app-region: drag
}
