/** Ultra Light */
@font-face {
  font-family: "SF pro";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "SF pro";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "SF pro";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "SF pro";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "SF pro";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "SF pro";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

* {
  font-family: "SF pro"
}

body {
  font-family: "SF pro", -apple-system, BlinkMacSystemFont;;
  font-weight: 400;
  line-height: 1.7;
  color: $color-text-dark;
}

// h1, h2, h3, h4, h5, h6 {
//     font-family: 'Cocogoose';
// }

.heading-primary {
  color: $color-text-dark;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;

    animation-name: moveToLeft;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    animation: moveToRight 2.5s ease-out;
    -webkit-animation: moveToRight 2.5s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;

  background-image: linear-gradient(to right bottom, rgba($color-primary-dark, 0.9), rgba($color-primary-light, 0.9));

  background-size: cover;
  background-position: center;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.75rem;
  transition: all 0.2s;
}

.heading-tertiary {
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right bottom, rgba($color-primary-dark, 0.9), rgba($color-primary-light, 0.9));

  background-size: cover;
  background-position: center;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &--main {
    display: block;
    font-size: 3rem;
    line-height: 6rem;
    // font-weight: 700;
    // font-weight: bold;
    letter-spacing: 0.75rem;
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    // letter-spacing: .75rem;
  }

  &--min {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    // letter-spacing: .75rem;
  }
}

.subtitle--header {
  color: $color-white;
  font-size: 2.2rem;
  margin: 0 1.5rem;
}

.paragraph {
  font-size: $default-font-size;

  &__clickable {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    // border-radius: 10rem;
    position: relative;
    font-size: $default-font-size;
    transition: all 0.2s;

    &:link,
    &:visited {
      text-decoration: none;
      border-radius: 10rem;
      font-size: $default-font-size;
    }

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }

      &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }

    &--animated {
      animation: moveToUp 1s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.heading-light {
  color: $color-text-light;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #666666;
}

.redux-toastr .toastr .rrt-middle-container .rrt-title {
  font-size: 1.6rem;
}
.redux-toastr .toastr .rrt-middle-container .rrt-text {
  font-size: 1.4rem;
}

.title-10 {
  font-size: 1rem;
}
.title-15 {
  font-size: 1.5rem;
}
.title-20 {
  font-size: 2rem;
}
