.center-text {
  text-align: center;
}
.u-block {
  display: block;
}
.flex-center {
  align-content: center;
  align-items: center;
  justify-content: center;
}
.container-flex--center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}
.margin-bottom-medium {
  margin-bottom: 4rem;
}
.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-top-small {
  margin-top: 1.5rem;
}
.margin-top-medium {
  margin-top: 4rem;
}
.margin-top-big {
  margin-top: 8rem;
}

.margin-left-small {
  margin-left: 1.5rem;
}
.margin-left-medium {
  margin-left: 4rem;
}
.margin-left-big {
  margin-left: 8rem;
}

.margin-right-small {
  margin-right: 1.5rem;
}
.margin-right-medium {
  margin-right: 4rem;
}
.margin-right-big {
  margin-right: 8rem;
}

.padding-bottom-small {
  padding-bottom: 1.5rem;
}
.padding-bottom-medium {
  padding-bottom: 4rem;
}
.padding-bottom-big {
  padding-bottom: 8rem;
}

.padding-top-small {
  padding-top: 1.5rem;
}
.padding-top-medium {
  padding-top: 4rem;
}
.padding-top-big {
  padding-top: 8rem;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.space-left-2rem {
  margin-left: 2rem;
}

.table-modal {
  max-height: 48rem;
  overflow: auto;
}

.vertical-divider {
  height: 2.4rem;	
  width: .1rem;	
  border: 1px solid #343434;
}

.icn-spinner {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}
