.button {
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    &__primary {
        background: $color-primary;
        margin-top: 7.75rem;
        background-size: cover;
        background-position: center;
    }
    

    &__primary-forgotPass {
        background: $color-primary;
        margin-top: 5.7rem;
        background-size: cover;
        background-position: center;

    }
   
    &__primary-onboarding {
        background: $color-black;
        margin-top: 5.7rem;
        background-size: cover;
        background-position: center;

    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

        &:active {
            transform: translateY(-.1rem);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        }
    }

    &--outline {
        background: transparent;
        min-width: 7.8rem;
        min-height: 3rem;
        border: .2rem solid;
        padding: .5rem 2rem;
    }

    &--animated {
        animation: moveToUp 1s ease-out .75s;
        animation-fill-mode: backwards;
    }

  
    &__text {
        font-size: 1.3rem;
        font-weight: bold;
        color: #ffffff;

        &--disabled {
            font-size: 1.3rem;
            font-weight: bold;
            color: #424448;
        }
  }
}

.disabled {
    background: #1F1F1F;
    pointer-events: none;
}