.content-wrapper {
  min-height: 100vh;
}
.modal {
  background: rgba(0, 0, 0, 0.8);
  &-close {
    position: absolute;
    right: 2.5rem;
    top: 1.8rem;
    font-size: 2rem;
    color: #fff;
    &:hover {
      color: #424448;
      cursor: pointer;
    }
  }
  &-content {
    height: 460px;
    position: relative;
    width: 584px;
    background: linear-gradient(90deg, #222222 0%, #161616 100%);
    box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
  }
  .modal-header-danger {
    background-color: #dd4b39 !important;
    border: 0;
  }

  &-dialog {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &-header {
    height: 7rem;
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }

  &-title {
    color: #ffffff;
    font-family: "SF pro";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.41px;
    line-height: 22px;
    text-align: center;
    margin-top: 1rem;
  }

  &-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
    &__course {
      width: 33rem;
      margin: 0rem 2rem 2rem 2rem !important;
    }

    &__divider {
      height: 0.1rem;
      width: 90%;
      background: #424448;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
      height: 28rem;
      width: 51rem;
    }
    &__item {
      display: flex;
      place-items: center;
      flex-direction: column;
      text-align: center;
      margin: 1rem 0;
      &--question {
        color: #8d9197;
        font-family: "SF pro";
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 15px;
        margin-bottom: 2rem;
      }
      &-text {
        text-align: center;
        margin: 1rem 0;
        &-box {
          box-sizing: border-box;
          height: 81px;
          width: 289px;
          border: 1px solid #424448;
          border-radius: 4px;
          background: transparent;
          padding: 1rem;

          color: #8d9197;
          font-family: "SF pro";
          font-size: 12px;
          line-height: 16px;
          margin-top: 2rem;
        }
      }
    }
  }

  &-body {
    .css-10nd86i {
      padding-top: 0px;
    }
  }
  &__sended {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--img {
      width: 15rem;
      margin: 2rem;
    }
    &--title {
      color: #ffffff;
      font-family: "SF pro";
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -0.07px;
      line-height: 9px;
      text-align: center;
      margin-bottom: 2rem;
    }
    &--body {
      color: #8d9197;
      font-family: "SF pro";
      font-size: 13px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__messages__chat {
    width: 100%;
    height: 29rem;
    position: relative;
    &--body {
      height: 100%;
      max-height: 30rem;
      padding-bottom: 4rem;
      overflow: auto;
    }
    &--footer {
      position: absolute;
      bottom: 1rem;
      background: #070707 !important;
      border: 1px solid #424448;
      border-radius: 4px;
      &-icon {
        color: #fff;
        font-size: 1.8rem;
      }
      &-button-disabled {
        // background: #1F1F1F;
        pointer-events: none;
      }
    }
    &--loading {
      top: 0% !important;
      right: 0% !important;
    }
  }
}

.emptyMessagesModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__img {
    width: 19rem;
    opacity: 0.4;
    margin-bottom: -2rem;
  }
}

.MuiRating-iconEmpty {
  color: #8d9197 !important;
}
