.consulting {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont;
  padding: 0 1.5rem 0 4.5rem;
  overflow-y: scroll;

  &__details {
    width: 33.3rem;
  }

  &__header {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    min-height: 5rem;
    height: fit-content;
    padding: 1rem 2rem;
    justify-content: space-between;
    transition: all 0.2s;
    &--title {
      color: #fff;
      font-size: 2rem;
    }
  }

  &__body {
    &::-webkit-scrollbar-thumb {
      background: #424448;
    }
    width: 100%;
    max-width: 105vh;
    height: 82vh;

    &--player {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      max-height: 80vh;

      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__footer {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    // min-height: 10rem;
    height: fit-content;
    padding: 0.9rem 1rem 0.9rem 1.8rem;
    flex-direction: column;
    font-family: "SF Pro";
    font-weight: bold;

    &--tags {
      display: flex;
      flex-direction: row;
      &-module {
        height: 17px;
        width: 72px;
        align-items: center;
        justify-content: center;
        display: flex;
        opacity: 0.85;
        border-radius: 4px;
        background-color: #424448;
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.07px;
        line-height: 13px;
      }
      &-class {
        height: 17px;
        width: 56px;
        align-items: center;
        justify-content: center;
        display: flex;
        opacity: 0.85;
        border-radius: 4px;
        background-color: #6c6c6c;
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.07px;
        line-height: 13px;
        margin: 0 1rem;
      }
    }
    &--title {
      color: #fff;
      font-size: 1.6rem;
      position: relative;
      font-weight: 400;
      width: 100%;
      margin-top: -0.4rem;
      margin-bottom: 0.4rem;
      padding-right: 2rem;
    }
    &--icon {
      position: absolute;
      right: 0.4rem;
      top: 0.2rem;
      font-size: 1.3rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
    &--divider {
      width: 100%;
      height: 0.1rem;
      background: #171717;
      margin-top: 0.87rem;
    }
    &--icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: -1rem;
      margin-top: 0.1rem;
      padding-bottom: 0.2rem;
    }
  }

  &__icons {
    &:first-child {
      margin: 0 1rem 0 0;
    }
    &:last-child {
      margin: 0 0.7rem 0 1rem;
    }
    color: white;
    margin: 0 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    &:hover {
      cursor: pointer;
    }
    &-plus {
      color: #fff;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &-minus {
      color: #fff;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &-loading {
      color: #fff;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.modules {
  max-height: 95vh;
  position: relative;
  background: linear-gradient(90deg, #1b1b1b 0%, #000000 100%);
  box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
  &-control {
    width: 3rem;
    height: 94vh;
    background: transparent;
    position: relative;
    &:hover {
      background: #2c2b2b;
      cursor: pointer;
    }
    &:hover #control-button {
      color: #acabab;
    }
    &__button {
      background: #070707;
      position: absolute;
      top: calc(50% - 7.5rem);
      width: 3rem;
      right: 0;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon {
      color: transparent;
      font-size: 2.4rem;
    }
  }
  &__open {
    width: 33.3rem;
  }
  &__close {
    width: 0rem;
  }
  &__course {
    &-data {
      display: flex;
      flex-direction: row;
      margin: 2rem 2rem 0 2rem;
      &--image {
        height: 5.46rem;
        width: 5.6rem;
        border-radius: 0.2rem;
        background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35.66%, #000000 100%);
      }
      &--info {
        display: flex;
        flex-direction: column;
        margin: 0 1.2rem;
        justify-content: space-between;
        &-course {
          color: #8d9197;
          font-family: "SF Pro";
          font-size: 0.9rem;
          letter-spacing: 0.06px;
          line-height: 1.1rem;
        }
        &-class {
          color: #ffffff;
          font-family: "SF Pro";
          font-size: 1.6rem;
          font-weight: 700;
          letter-spacing: 0.1px;
          line-height: 1.9rem;
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          max-height: 2.4em;
        }
        &-teacher {
          color: #8d9197;
          font-family: "SF Pro";
          font-size: 0.9rem;
          letter-spacing: 0.06px;
          line-height: 1.1rem;
        }
      }
    }
    &-footer {
      &-consulting {
        display: flex;
        margin: 1.5rem 2rem;
        width: 20rem;
        align-items: center;
        justify-content: space-between;
      }
      display: flex;
      margin: 1.5rem 2rem;
      width: 29rem;
      align-items: center;
      justify-content: space-between;
      &-group {
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }
      &--title {
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
      &--icon-chat {
        color: #fff;
        font-size: 1.1rem;
        margin-right: 1rem;
      }
      &--icon {
        color: #fff;
        font-size: 1.3rem;
        margin-right: 1rem;
        &-video {
          font-size: 3rem;
          font-weight: 100;
          margin-right: 0.1rem;
          color: #fff;
        }
      }
    }
    &--description {
      max-height: 5.2rem;
      height: fit-content;
      width: 28.9rem;
      color: #8d9197;
      font-family: "SF Pro";
      font-size: 11px;
      letter-spacing: -0.06px;
      overflow: hidden;
      line-height: 13px;
      margin: 3rem 2rem 0rem 2rem;
      &-open {
        height: 17rem;
        width: 28.9rem;
        color: #8d9197;
        font-family: "SF Pro";
        font-size: 11px;
        letter-spacing: -0.06px;
        overflow-y: auto;
        line-height: 13px;
        margin: 3rem 2rem 0rem 2rem;
      }
      &-toogle {
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 0.06px;
        line-height: 11px;
        text-align: center;
        margin-left: 2rem;
        &:hover {
          cursor: pointer;
          font-weight: 600;
        }
        &-open {
          color: #ffffff;
          font-family: "SF Pro";
          font-size: 9px;
          font-weight: bold;
          letter-spacing: 0.06px;
          line-height: 11px;
          text-align: center;
          margin-left: 2rem;

          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
  &__list {
    z-index: 10;
    margin-top: 3rem;
    padding-right: 2rem;
    &--resume {
      display: flex;
      padding: 0rem 0 0rem 2rem;
      justify-content: space-between;
      align-items: center;
      color: #8d9197;
      font-family: "SF Pro";
      &-counter {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        &-icon {
          font-size: 2.8rem;
          font-weight: 100;
        }
      }
      &-outlet {
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
          font-size: 1.3rem;
          margin-right: 1rem;
        }
      }
    }

    &--accordion {
      padding-left: 2rem;
      height: 0;
      background-color: #070707;

      &-open {
        max-height: 42vh;
        overflow-y: auto;
        transform-origin: left top;
        animation-fill-mode: both;
        overflow-x: hidden;
        will-change: transform;
        contain: content;
        animation-name: myAnimation;
        animation-duration: 400ms;
        animation-timing-function: step-end;
        padding-top: 1rem;
        height: fit-content;
      }
      &-close {
        transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
      }
    }
    &--item {
      margin: 2rem 0 0 2rem;
      line-height: 1.6rem;
      border-bottom: rgba(141, 145, 151, 0.445) solid 0.1rem;
      height: 5rem;
      z-index: 10;
      &:hover {
        cursor: pointer;
      }
      &-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-title {
        color: #8d9197;
        font-size: 1.1rem;
      }
      &-icon {
        color: #fff;
        font-size: 1.4rem;
        margin: 0.5rem;
        &-open {
          animation: spin 0.2s linear;
          color: #fff;
          font-size: 1.4rem;
          margin: 0.5rem;
        }
      }
      &-number {
        color: #fff;
        font-size: 1.6rem;
        font-family: "SF pro";
        font-weight: bold;
      }
      &-accordion {
        z-index: 1;
        line-height: 1.8rem;
        width: 28.8rem;
        padding: 0.8rem 0;
        border-bottom: 1px solid #252424;
        position: relative;
        &:hover {
          cursor: pointer;
        }
      }
      &-count {
        font-size: 0.9rem;
        color: #8d9197;
        display: flex;
        width: 6.3rem;
        &-icon {
          font-size: 2rem;
        }
      }
      &-circle {
        height: 7px;
        width: 7px;
        border-radius: 2rem;
        background-color: #8d9197;
        position: absolute;
        top: 1.3rem;
        left: -1.3rem;
      }
    }
  }
  &__divider {
    height: 1.5rem;
  }
}

.consulting__videos--list {
  max-height: 74vh;
  &-open {
    max-height: 56vh;
  }
}

@keyframes expand-description {
  0% {
    height: 0px;
  }
  100% {
    height: 5rem;
  }
}
