.course {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont;;
  padding: 0 1.5rem 0 4.5rem;
  overflow-y: scroll;

  &__details {
    width: 33.3rem;
  }

  &__header {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    min-height: 5rem;
    height: fit-content;
    padding: 1rem 2rem;
    justify-content: space-between;
    transition: all 0.2s;
    &--title {
      color: #fff;
      font-size: 2rem;
    }
  }

  &__body {
    &::-webkit-scrollbar-thumb {
      background: #424448;
    }
    width: 100%;
    max-width: 105vh;
    height: 82vh;

    &--player {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      max-height: 80vh;

      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__footer {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    // min-height: 10rem;
    height: fit-content;
    padding: 0.9rem 1rem 0.9rem 1.8rem;
    flex-direction: column;
    font-family: "SF Pro";
    font-weight: bold;

    &--tags {
      display: flex;
      flex-direction: row;
      &-module {
        height: 17px;
        width: 72px;
        align-items: center;
        justify-content: center;
        display: flex;
        opacity: 0.85;
        border-radius: 4px;
        background-color: #424448;
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.07px;
        line-height: 13px;
      }
      &-class {
        height: 17px;
        width: 56px;
        align-items: center;
        justify-content: center;
        display: flex;
        opacity: 0.85;
        border-radius: 4px;
        background-color: #6c6c6c;
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.07px;
        line-height: 13px;
        margin: 0 1rem;
      }
    }
    &--title {
      color: #fff;
      font-size: 1.6rem;
      position: relative;
      font-weight: 400;
      width: 100%;
      margin-top: -0.4rem;
      margin-bottom: 0.4rem;
      padding-right: 2rem;
    }
    &--icon {
      position: absolute;
      right: .4rem;
      top: .2rem;
      font-size: 1.3rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
    &--divider {
      width: 100%;
      height: 0.1rem;
      background: #171717;
      margin-top: 0.87rem;
    }
    &--icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: -1rem;
      margin-top: 0.1rem;
      padding-bottom: .2rem;
    }
  }

  &__icons {
    &:first-child {
      margin: 0 1rem 0 0;
    }
    &:last-child {
      margin: 0 0.7rem 0 1rem;
    }
    color: white;
    margin: 0 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    &:hover {
      cursor: pointer;
    }
    &-plus {
      color: #fff;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &-minus {
      color: #fff;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &-loading {
      color: #fff;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.modules-control {
  width: 3rem;
  height: 94vh;
  background: transparent;
  position: relative;
  &:hover {
    background: #2c2b2b;
    cursor: pointer;
  }
  &:hover #control-button {
      color: #acabab;
  }
  &__button {
    background: #070707;
    position: absolute;
    top: calc(50% - 7.5rem);
    width: 3rem;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    color: transparent;
    font-size: 2.4rem;
  }
}

.modules {
  max-height: 94vh;
  background: linear-gradient(90deg, #1b1b1b 0%, #000000 100%);
  box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
  &__open {
    width: 33.3rem;
  }
  &__close {
    width: 0rem;
  }
  &__course-data {
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem 0 2rem;
    &--image {
      height: 5.46rem;
      width: 5.6rem;
      border-radius: 0.2rem;
      background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35.66%, #000000 100%);
    }
    &--info {
      display: flex;
      flex-direction: column;
      margin: 0 1.2rem;
      justify-content: space-between;
      &-course {
        color: #8d9197;
        font-family: "SF Pro";
        font-size: 0.9rem;
        letter-spacing: 0.06px;
        line-height: 1.1rem;
      }
      &-teacher {
        color: #8d9197;
        font-family: "SF Pro";
        font-size: 0.9rem;
        letter-spacing: 0.06px;
        line-height: 1.1rem;
      }
    }
  }
  &__list {
    z-index: 10;
    margin-top: 3rem;
    padding-right: 2rem;
    &--resume {
      display: flex;
      padding: 0rem 0 0rem 2rem;
      justify-content: space-between;
      align-items: center;
      color: #8d9197;
      font-family: "SF Pro";
      &-counter {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        &-icon {
          font-size: 2.8rem;
          font-weight: 100;
        }
      }
      &-outlet {
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
          font-size: 1.3rem;
          margin-right: 1rem;
        }
      }
    }

    &--accordion {
      padding-left: 2rem;
      height: 0;
      background-color: #070707;

      &-open {
        max-height: 42vh;
        overflow-y: auto;
        transform-origin: left top;
        animation-fill-mode: both;
        overflow: hidden;
        will-change: transform;
        contain: content;
        animation-name: myAnimation;
        animation-duration: 400ms;
        animation-timing-function: step-end;
        padding-top: 1rem;
        height: fit-content;
      }
      &-close {
        transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;

      }
    }
    &--item {
      margin: 2rem 0 0 2rem;
      line-height: 1.6rem;
      border-bottom: rgba(141, 145, 151, 0.445) solid 0.1rem;
      height: 5rem;
      z-index: 10;
      &:hover {
        cursor: pointer;
      }
      &-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-title {
        color: #8d9197;
        font-size: 1.1rem;
      }
      &-icon {
        color: #fff;
        font-size: 1.4rem;
        margin: 0.5rem;
        &-open {
          animation: spin 0.2s linear;
          color: #fff;
          font-size: 1.4rem;
          margin: 0.5rem;
        }
      }
      &-number {
        color: #fff;
        font-size: 1.6rem;
        font-family: "SF pro";
        font-weight: bold;
      }
      &-accordion {
        z-index: 1;
        line-height: 1.8rem;
        width: 28.8rem;
        padding: 0.8rem 0;
        border-bottom: 1px solid #252424;
        position: relative;
        &:hover {
          cursor: pointer;
        }
      }
      &-count {
        font-size: 0.9rem;
        color: #8d9197;
        display: flex;
        width: 6.3rem;
        &-icon {
          font-size: 2rem;
        }
      }
      &-circle {
        height: 7px;
        width: 7px;
        border-radius: 2rem;
        background-color: #8d9197;
        position: absolute;
        top: 1.3rem;
        left: -1.3rem;
      }
    }
  }
  &__course-footer {
    display: flex;
    margin: 1.5rem 2rem;
    width: 29rem;
    align-items: center;
    justify-content: space-between;
    &-group {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      // &:active {
      //   background: #6c6c6c;
      //   opacity: .2;
      // }
    }
    &--title {
      color: #ffffff;
      font-family: "SF Pro";
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    &--icon-chat {
      color: #fff;
      font-size: 1.1rem;
      margin-right: 1rem;
    }
    &--icon {
      color: #fff;
      font-size: 1.3rem;
      margin-right: 1rem;
      &-video {
        font-size: 3rem;
        font-weight: 100;
        margin-right: .1rem;
        color: #fff;
      }
    }
  }

  &__divider {
    height: 1.5rem;
  }
}

.videos {
  overflow-y: auto;
  max-height: 67vh;
  padding-right: 2rem;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  &__list {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 2rem;
    flex-direction: column;
    &--item {
      height: fit-content;
      width: 100%;
      border-radius: 4px;
      background-color: #1f1f1f;
      padding: 1rem 0.8rem;
      margin-top: 1.3rem;
      &:first-child {
        margin-top: 0.1rem;
      }
      &--icon {
        color: #fff;
        font-size: 1.3rem;
        margin: .1rem 0.8rem -1rem 0rem;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
      &-title {
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.08px;
        line-height: 15px;
        margin-top: 0.7rem;
      }
      &-progress {
        display: flex;
        margin: 2rem 0 1rem 0;
        align-items: center;
        &-value {
          display: flex;
          color: #8d9197;
          font-family: "SF Pro";
          font-size: 9px;
          letter-spacing: 0.06px;
          line-height: 11px;
        }
        &-bar {
          width: 100%;
          margin-left: 0.8rem;
          height: 0.2rem;
        }
      }
      &-header {
        display: flex;
        justify-content: space-between;
        &-group {
          display: flex;
          align-items: center;
        }
        &-play {
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #cc0000;
          border-radius: 0.3rem;
          margin-right: 1rem;
          &:hover {
            cursor: pointer;
          }
        }
        &-icon {
          font-size: 1rem;
          color: #fff;
          margin-top: 0.2rem;
        }
      }
      &--tags {
        &-module {
          height: 1.6rem;
          width: 5.2rem;
          color: #ffffff;
          font-family: "SF Pro";
          font-size: 9px;
          font-weight: bold;
          letter-spacing: 0.06px;
          line-height: 11px;
          text-align: center;
          align-items: center;
          justify-content: center;
          display: flex;
          opacity: 0.85;
          border-radius: 4px;
          background-color: #424448;
          margin-right: 1rem;
        }
        &-class {
          display: flex;
          height: 16px;
          width: 38px;
          opacity: 0.85;
          border-radius: 4px;
          background-color: #7a7a7a;
          margin-right: 1rem;
          text-align: center;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          font-family: "SF Pro";
          font-size: 9px;
          font-weight: bold;
          letter-spacing: 0.06px;
          line-height: 11px;
          text-align: center;
        }
        &-watching {
          display: flex;
          height: 16px;
          width: 68px;
          border-radius: 4px;
          background: #48d852;
          text-align: center;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          font-family: "SF Pro";
          font-size: 10px;
          font-weight: bold;
          letter-spacing: -0.06px;
          line-height: 11px;
          text-align: center;
        }
      }
    }
  }
}

.archives {
  margin: 2rem 0 2rem 2rem;
  &__title {
    color: #8d9197;
    font-family: "SF Pro";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 15px;
    margin: 3rem 0 2rem 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    &--item {
      width: 100%;
      height: 5.6rem;
      display: flex;
      border-radius: 4px;
      background-color: #1f1f1f;
      margin-bottom: 1.2rem;
      padding: 0.8rem;
      &-type {
        display: flex;
        width: 4.5rem;
        justify-content: center;
        align-items: center;
        background-color: #2e65de;
        border-radius: 0.4rem;
        &-simulado {
          background-color: $color-primary;
        }
      }
      &-icon {
        color: #fff;
        font-size: 1.3rem;
      }
      &-info {
        width: 23rem;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: space-between;
        align-content: space-between;
        height: 100%;
      }
      &-tag {
        display: flex;
        justify-content: space-between;
        margin: 0 0.7rem 0 1.8rem;
        align-items: center;
        margin-top: -0.6rem;
        margin-bottom: -.5rem;
        &-type {
          display: flex;
          padding: 0 3rem;
          height: 16px;
          width: 40px;
          opacity: 0.85;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background-color: #424448;
          color: #ffffff;
          font-family: "SF Pro";
          font-size: 9px;
          font-weight: bold;
          letter-spacing: 0.06px;
          line-height: 11px;
          text-align: center;
        }
        &-download {
          color: #fff;
          font-size: 1.2rem;
        }
      }
      &-name {
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 9px;
        letter-spacing: 0.06px;
        line-height: 11px;
        margin-left: 1.8rem;
      }
    }
  }
}
