.meus-dados {
  display:flex;
  flex-direction:column;
  height:100vh;
  padding:0 3rem 7rem 3rem;
  color:white;
  &__header {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0 0.25rem 0;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    transition: all 0.2s;
    &--title {
      color: #fff;
      font-size: 2rem;
      font-weight: 500;
    }
    &--icon{
      color: #FFF;
      margin-right: 49.5%;
      cursor: pointer;
    }
  }
  &__avatar {
    margin: 0 auto;
    display: flex;
    &--image {
      height: 17.87rem;
      width: 17.87rem;
      border-radius: 50%;
      border: white solid 0.3rem;
      cursor: pointer;
      object-fit: cover;
    }
    &--icon {
      position: static;
      background-color: red;
      margin: 13rem 1rem 1rem -4.7rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__avatar--container {
    display:flex;
    flex-direction:column;
  }
  &__body {
    overflow:auto;
    padding-right: 0.5rem;
  }
  &__dadosPessoais{
    display:flex;
    justify-content:space-between;
    &__group {
      width:48%;
    }
  }
  &__flex-column{
    display:flex;
    flex-direction:column;
  }
  &__group {
    width:48%;
  }
  &__label{
    background-color: #353535;
    text-align: center;
    margin-top: 1rem;
  }
  &__space-row{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
  }
}
.form-senha{
  padding-top: 5rem;
  margin-bottom: 2rem;
}
.form-control[disabled]{
  background: #525050;
  color: #ffffff;
  font-family: "SF Pro";
  //font-size: 12px;
  line-height: 18px;
  border-radius: 0.4rem;
  padding: 6px 10px;
  border: 1px solid #424448;
}
.form-control{
  background: #171717;
  color: #ffffff;
  font-family: "SF Pro";
  //font-size: 12px;
  //line-height: 18px;
  border-radius: 0.4rem;
  padding: 6px 10px;
  border: 1px solid #424448;
  &:focus {
    border: 1px solid #ffffff;
  }
}
.text-atendimento{
  display: block;
  margin-top: 5px;
  color: #737373;
  text-align: center;
}
