.favorites {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "SF pro", sans-serif;
  font-weight: bold;
  padding: 0 3rem;
  overflow-x: hidden;

  &__header {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    transition: all 0.2s;
    &--title {
      color: #fff;
      font-size: 2rem;
    }
    &--select {
      width: 14rem;
      padding: 0 0.5rem;
      display: flex;
      justify-content: space-between;
      position: relative;
      &:after {
        content: "";
        height: 4px;
        background: #cc0000;
        position: absolute;
        bottom: -4px;
        width: 5.5rem;
        left: 0;
        transition: all 0.4s;
      }
      &-active {
        width: 14rem;
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        &:after {
          content: "";
          height: 4px;
          background: #cc0000;
          position: absolute;
          bottom: -4px;
          width: 6.5rem;
          left: calc(100% - 6.5rem);
          transition: all 0.4s;
        }
      }
      &-label {
        &:hover {
          cursor: pointer;
        }
        &-active {
          color: #fff;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__body {
    overflow-y: scroll;
    margin-top: 1rem;
    width: 100%;
    height: 80vh;
    padding-bottom: 2rem;
    &::-webkit-scrollbar-thumb {
      background: #424448;
    }

    &--courses {
      width: 100%;
    }

    &--campaign {
      height: 27rem;
    }
  }
}

.container-fluid {
  min-height: 96vh;
  background: #070707;
  padding-left: 0;
  padding-right: 0;
}

.emptyFavorites {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  &__img {
    width: 21rem;
    opacity: 0.4;
    margin-bottom: -2rem;
  }
  &__title {
    text-align: center;
    font-family: "SF pro", sans-serif;
    font-weight: bold;
  }
}
