.forgotPassword {
  font-family: "SF pro", sans-serif;
  height: 100vh;
  display: flex;
  flex: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #000000;
  position: relative;

  &__box {
    background-color: transparent;
    border-radius: 1rem;
    width: 25.1rem;
    text-align: center;
    padding-bottom: 4rem;

    &--success {
      background-color: transparent;
      border-radius: 1rem;
      width: 25.1rem;
      text-align: center;
      padding-bottom: 16%;
    }
  }

  &__header {
    &--back-button {
      font-size: 1.5rem;
      color: white;
      position: absolute;
      left: 5.7rem;
      top: 4rem;
      background: #1f1f1f;
      padding: 0.3rem 0.8rem;
    }

    &-box {
      margin: 8px 35px 0px 26px;
      display: flex;

      &--img {
        height: 15rem;
        margin-top: 4.8rem;
      }
      &--success {
        height: 15rem;
        margin-top: 4.8rem;
      }

      &--title {
        padding: 1rem 1rem 0px 1rem;
        font-size: 1.7rem;
        text-align: center;
        line-height: 1;
        color: white;
      }
    }
  }

  &__footer-box {
    color: white;
    display: flex;
    flex: 1;
    font-size: 1.8rem;
    flex-direction: row;
    width: 100%;

    & > a {
      color: white;
    }
  }

  &__body {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.4rem;
    margin-bottom: 2.65rem;
    color: #8d9197;
  }
}
