.home {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "SF Pro", sans-serif;
  font-weight: 500;
  padding: 0 3rem;

  &__header {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    transition: all 0.2s;
    &--icon {
      color: #FFF;
      &:hover {
        color: rgb(211, 211, 211);
        cursor: pointer;
      }
    }
    &--title {
      color: #fff;
      font-size: 2rem;
    }
    &--select {
      width: 14rem;
      padding: 0 0.5rem;
      display: flex;
      justify-content: space-between;
      position: relative;
      &:after {
        content: "";
        height: 4px;
        background: #cc0000;
        position: absolute;
        bottom: -4px;
        width: 5.5rem;
        left: 0;
        transition: all 0.4s;
      }
      &-active {
        width: 14rem;
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        &:after {
          content: "";
          height: 4px;
          background: #cc0000;
          position: absolute;
          bottom: -4px;
          width: 6.5rem;
          left: calc(100% - 6.5rem);
          transition: all 0.4s;
        }
      }
      &-label {
        &:hover {
          cursor: pointer;
        }
        &-active {
          color: #fff;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__body {
    overflow-y: scroll;
    margin-top: 1rem;
    width: 100%;
    height: 84vh;
    padding-bottom: 2rem;
    &::-webkit-scrollbar-thumb {
      background: #424448;
    }

    &--courses {
      width: 100%;
    }

    &--campaign {
      height: 27rem;
      margin-bottom: 7rem;
    }
  }
}

.container-fluid {
  min-height: 96vh;
  background: #070707;
  padding-left: 0;
  padding-right: 0;
}

.emptyHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  &__img {
    width: 21rem;
    opacity: 0.4;
    margin-bottom: -2rem;
  }
  &__title {
    text-align: center;
    font-family: "SFPro-Bold", sans-serif;
  }
}

.lastVideos {
  &__buttons {
    height: 20rem;
  }
  &__body {
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
  }
  &__carousel {
    height: 143px;
    width: 295px;
    border-radius: 4px;
    background-color: #1f1f1f;
    padding: 1rem;
    &:hover {
      background-color: #272727;
      cursor: pointer;
    }
  }
  &__loading {
    left: 0;
    overflow: hidden;
    top: 0 !important;
  }
  &__content {
    display: flex;
  }
  &__icon {
    min-width: 2.5rem;
  }
  &__subtitle {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-between;
    &--project {
      color: #8d9197;
      font-family: "SF Pro";
      font-size: 9px;
      letter-spacing: 0.06px;
      line-height: 11px;
      display: flex;
    }
    &--subject {
      color: #8d9197;
      font-family: "SF Pro";
      font-size: 9px;
      letter-spacing: 0.06px;
      line-height: 11px;
      display: flex;
    }
    &--teacher {
      color: #8d9197;
      font-family: "SF Pro";
      font-size: 9px;
      letter-spacing: 0.06px;
      line-height: 11px;
      display: flex;
    }
    &--class {
      color: #ffffff;
      font-family: "SF Pro";
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.08px;
      line-height: 15px;
      display: flex;
    }
  }
}

.modal{
  &--renovacao{
    &-body{
      display: block;
      padding: 1rem 4rem;
      overflow: auto;
      height: 85%;
    }
    &-item{
      display: flex;
      height: 30%;
      width: 100%;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 2rem;
      border: 1px gray solid;
    }
    &-button{
      background-color: red;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: auto 0;
      border-radius: 0.25rem;
      width: 20%;
      height: 40%;
      color: white;
      transition: 0.3s;
      &:hover{
        transform: translateY(-3px);
        transition: 0.3s;
      }
    }
    &-text{
      color: white;
      font-size: 1.3rem;
      margin: auto 0;
      line-height: 1rem;
      display: flex;
      flex-direction: column;
      user-select: none;
        &-desconto{
        height: 4rem;
        width: 4rem;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 9rem;
        transform: translateY(-3rem);
        text-align: center;
        line-height: 4rem;
        &-inside{
          font-size: 1.5rem;
        }
      }
        &-valorcheio{
          text-decoration:line-through;
          text-decoration-color: red;
          color:gray;
          margin-top: -3rem;
        }
    }
  }
}
