.login {
  font-family: "SF pro", sans-serif;
  height: 105vh;
  display: flex;
  flex: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba($color-black, 0.05), rgba($color-black, 0.1)),
    url("../images/bg-login.png");

  background-size: cover;
  background-position: center;
  position: relative;
  &__logo {
    margin-bottom: 6.365rem;
  }

  &__box {
    background-color: transparent;
    border-radius: 1rem;
    position: relative;
    width: 24.1rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  &__header-box > i {
    font-size: 2rem;
  }

  &__footer-box {
    position: absolute;
    bottom: -3.5rem;
    color: white;
    display: flex;
    flex: 1;
    font-size: 1.1rem;
    flex-direction: row;
    right: 0rem;
    bottom: 10.5rem;

    & > a {
      color: white;
      text-decoration: none;
    }
  }

  &__footer {
    position: absolute;
    bottom: -6rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
    width: 100%;
  }

  &__terms {
    font-weight: 900;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
