.selected {
  border-left: rgba(141, 145, 151, 0.226) solid 0.4rem;
  padding-left: 1.6rem !important;
}

.messages {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "SF pro";
  padding: 0 3rem;
  overflow: hidden;

  &__header {
    background: #1e1c1a;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    transition: all 0.2s;
    &--title {
      color: #fff;
      font-size: 2rem;
    }
  }
  &__sidebar {
    height: 94vh;
    font-family: "SF pro";
    font-weight: bold;
    background: linear-gradient(90deg, #1b1b1b 0%, #000000 100%);
    box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
    transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
    &__open {
      width: 33.3rem;
    }
    &--item {
      display: flex;
      padding: 1.3rem 2rem;
      height: 9rem;
      box-shadow: 0px 24px 3px -24px rgba(141, 145, 151, 0.445);
      &:last-child {
        box-shadow: none;
      }
      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.36);
      }
    }
    &--image {
      width: 6rem;
      height: 6rem;
    }
    &--name {
      font-size: 1.6rem;
      color: #fff;
      width: 17rem;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 1rem;
    }
    &--teacher {
      font-size: 1rem;
      width: 17rem;
      color: #8d9197;
      font-family: "SF Pro";
      font-weight: 400;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 1rem;
    }
    &--course {
      font-size: 1rem;
      width: 17rem;
      color: #8d9197;
      font-family: "SF Pro";
      font-weight: 400;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 1rem;
    }
    &--time {
      font-size: 1.1rem;
      color: #fff;
      width: 14rem;
      font-weight: 100;
      font-family: "SF Pro";
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  &__chat {
    width: 100%;
    height: 100%;
    max-height: 82vh;
    position: relative;
    &:before {
      content: "";
      display: block;
    }
    &--time {
      display: flex;
      justify-content: center;
      color: #FFF;
      font-size: 1.3rem;
    }
    &--item {
      width: 300px;
      margin: 50px auto;
      padding: 20px;
      text-align: center;
      position: relative;
      background: #323336;
      border-radius: 5px;
      border-top-right-radius: 0px;
      &-message {
        font-weight: 400;
        color: #fff;
        font-family: "SF pro";
        // font-family: BlinkMacSystemFont;
        font-size: 1.4rem;
      }
      &-me {
        float: right;
        &:before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 11px solid #323336;
          border-right: 4px solid transparent;
          border-top: 3px solid #323336;
          border-bottom: 10px solid transparent;
          right: -14px;
          top: 0px;
        }
      }
      &-teacher:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid #323336;
        border-top: 10px solid #323336;
        border-bottom: 10px solid transparent;
        left: -19px;
        top: 0px;
      }
    }
    &--header {
      display: flex;
      padding-bottom: 1.5rem;
      margin-bottom: 2rem;
      border-bottom: #414141 solid 0.1rem;
      &-info {
        display: flex;
        flex-direction: column;
      }
      &-name {
        font-size: 1.6rem;
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }
      &-teacher {
        font-size: 1rem;
        color: #8d9197;
        font-family: "SF Pro";
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }
      &-course {
        font-size: 1rem;
        color: #8d9197;
        font-family: "SF Pro";
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }
      &-image {
        width: 6rem;
        height: 6rem;
      }
    }
    &--body {
      height: 100%;
      max-height: 63vh;
      overflow: auto;
    }
    &--footer {
      position: absolute;
      bottom: 2rem;
      background: #070707 !important;
      border: 1px solid #424448;
      border-radius: 4px;
      &-icon {
        color: #fff;
        font-size: 1.8rem;
      }
      &-button-disabled {
        // background: #1F1F1F;
        pointer-events: none;
      }
    }
    &--loading {
      top: 10% !important;
      right: 0% !important;
    }
  }
}

.rce-mbox-text {
  font-size: 1.6rem !important;
}

.rce-mbox {
  color: #fff;
  background: #646464 !important;
  margin-bottom: 2rem !important;
  max-width: 60rem;
}

.rce-mbox-right {
  background: #323336 !important;
}

.rce-mbox-right-notch {
  fill: #323336 !important;
}

.rce-mbox-left-notch {
  fill: #646464 !important;
}

.rce-mbox-time {
  color: #c7c7cc !important;
}

.rce-input {
  background: #070707 !important;
  color: #fff !important;
}
