.onboarding {
  background: #171717;
  height: 105vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__cell {
    width: 100%;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 1.3rem;
      color: #8d9197;
      text-align: center;
      margin-top: 3rem;
    }
  }
  &__img {
    width: 44.6rem;
  }

  &__button {
    // position: absolute;
    left: calc(50% - 100px);
  }
  &__body {
    padding-bottom: 6rem;
    width: 65rem;
    overflow: hidden;
  }
}

.flickity {
  &-button {

    &:hover {
      background: transparent;
    }
  }
  /* position dots up a bit */
  &-page-dots {
    bottom: -22px;
  }
  /* dots are lines */
  &-page-dots .dot {
    height: 4px !important;
    width: 40px !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }
  &-prev-next-button {
    color: "#FFF";
    &.next {
      width: 6rem;
      color: white;
      background: transparent !important;
      cursor: pointer;
    }
    &.previous {
      width: 6rem;
      color: white;
      background: transparent !important;
      cursor: pointer;
    }
    &.arrow {
      fill: white;
    }
    &.no-svg {
      color: white;
    }
    &:hover {
      background: transparent;
    }
    &:active {
      background: transparent;
    }
    /* hide disabled button */
    &:disabled {
      display: none;
    }
  }

  // &-viewport {
  //   height: 100% !important;
  // }
}


.dot.is-selected {
  background: $color-primary !important;
}

