.terms {
  font-family: 'SF pro', sans-serif;
  height: 105vh;
display: flex;
  justify-content: center;
  background-image: 
      linear-gradient(
          to bottom,
          rgba($color-black, .8),
          rgba($color-black, 1)
      ), url('../images/bg-login.png');
  
  background-size: cover;
  background-position: center;
  position: relative;


  &__header {
    height: 11rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 2rem;

  }

  &__body {

    text-align: left;
    overflow-y: auto;
    display: flex;
    // background: rgba(23,23,23,0.5);
    margin: 0 10rem;
    color: #8D9197;
    height: 75vh;
    font-size: 1.6rem;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

}
