.unauthorized {
    text-align: center;
}

.unauthorized {
    
    div {
    width: 250px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    color: #113949;
    border: 0.2rem solid #113949;
    background-color: #fff;
    font-size: 280%;
    position: absolute;
    top: 490px;
    left: 40%;
    text-transform: capitalize;
    animation: moving 8s linear infinite;
    -webkit-animation: moving 8s linear infinite;
    -moz-animation: moving 8s linear infinite;
    -o-animation: moving 8s linear infinite;

    transform-origin: 50% -400%;
    -webkittransform-origin: 50% -400%;
    -moz-transform-origin: 50% -400%;
    -o-transform-origin: 50% -400%;
    }
}

.unauthorized div:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 45%;
    top: -350px;
    border: 0.2rem solid #113949;
}

.unauthorized div:after {
    content: "";
    width: 3px;
    height: 335px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: -330px;
}

.unauthorized p {
    position: absolute;
    top: 560px;
    left: 38%;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    width: 300px;
}

.unauthorized p span {
    display: block;
    font-size: 300%;
}

@keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

@-moz-keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

@-o-keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}
