@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hh05w7');
  src:  url('../fonts/icomoon.eot?hh05w7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hh05w7') format('truetype'),
    url('../fonts/icomoon.woff?hh05w7') format('woff'),
    url('../fonts/icomoon.svg?hh05w7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e932";
}
.icon-close:before {
  content: "\e911";
}
.icon-maximize:before {
  content: "\e931";
  color: #fff;
}
.icon-spinner:before {
  content: "\e92d";
}
.icon-minus:before {
  content: "\e92e";
}
.icon-plus:before {
  content: "\e92c";
}
.icon-bookmark:before {
  content: "\e909";
}
.icon-bookmark_on:before {
  content: "\e921";
}
.icon-player-play2:before {
  content: "\e920";
}
.icon-youtube:before {
  content: "\e91c";
}
.icon-play:before {
  content: "\e91b";
}
.icon-up-arrow:before {
  content: "\e919";
}
.icon-star:before {
  content: "\e90e";
}
.icon-star_complete:before {
  content: "\e90f";
}
.icon-download-button:before {
  content: "\e906";
}
.icon-ic_file_download:before {
  content: "\e923";
  color: #8d9197;
}
.icon-ic_signal:before {
  content: "\e924";
  color: #8d9197;
}
.icon-ic_trash:before {
  content: "\e925";
  color: #8d9197;
}
.icon-player-play:before {
  content: "\e927";
  color: #8d9197;
}
.icon-ic_bel_off:before {
  content: "\e928";
  color: #8d9197;
}
.icon-ic_wifi:before {
  content: "\e929";
  color: #8d9197;
}
.icon-ic_storage:before {
  content: "\e92a";
  color: #8d9197;
}
.icon-ic_secondplane:before {
  content: "\e92b";
  color: #8d9197;
}
.icon-ic_exit3x:before {
  content: "\e922";
  color: #fff;
}
.icon-video_play:before {
  content: "\e918";
  color: #8d9197;
}
.icon-headphones:before {
  content: "\e90a";
  color: #fff;
}
.icon-presentation:before {
  content: "\e90b";
  color: #fff;
}
.icon-comment2:before {
  content: "\e90c";
  color: #fff;
}
.icon-file-check:before {
  content: "\e90d";
  color: #fff;
}
.icon-change_photo:before {
  content: "\e901";
}
.icon-simulado:before {
  content: "\e930";
  color: #fff;
}
.icon-download:before {
  content: "\e902";
}
.icon-course:before {
  content: "\e907";
}
.icon-chats:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e903";
  color: #fff;
}
.icon-send:before {
  content: "\e92f";
}
.icon-signal:before {
  content: "\e900";
  color: #fff;
}
.icon-cast:before {
  content: "\e91a";
}
.icon-calendar_off:before {
  content: "\e905";
  color: #787c83;
}
.icon-calendar:before {
  content: "\e904";
  color: #787c83;
}
.icon-bell:before {
  content: "\e91f";
  color: #fff;
}
.icon-settings:before {
  content: "\e91d";
  color: #fff;
}
.icon-search:before {
  content: "\e91e";
  color: #fff;
}
.icon-logout:before {
  content: "\e915";
}
.icon-down-arrow:before {
  content: "\e917";
}
.icon-right-arrow:before {
  content: "\e916";
}
.icon-left-arrow:before {
  content: "\e914";
}
.icon-eye_off:before {
  content: "\e912";
  color: #fff;
}
.icon-eye_on:before {
  content: "\e913";
  color: #fff;
}
.icon-camera:before {
  content: "\e910";
}
.icon-refresh:before {
  content: "\e926";
}
