.courses {
  font-family: "SF pro", -apple-system, BlinkMacSystemFont;
  background: #070707;
  position: relative;
  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    &--titles {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__divider {
    height: 0.2rem;
    background: #1e1c1a;
    width: 100%;
  }
  &__title {
    color: #fff;
    font-size: 1.9rem;

    &--weeks {
      background: #070707;
      &-placeholder {
        color: #fff;
        font-family: "SF pro";
        margin: 0 1rem 0 0;
      }
      &-control {
        background-color: #070707 !important;
        padding: 0 !important;
        border: none !important;
        width: 12rem;
        display: flex;
        cursor: pointer !important;
      }
      &-menu {
        background: #070707 !important;
        border: #292929 solid 0.1rem !important;
        width: 24rem !important;
        display: flex;
        max-height: 30rem !important;
        right: 0;
        flex-direction: column;
        align-items: center;
        top: 3.5rem !important;
      }
      &-arrow {
        color: #fff;
      }
    }

    &--time {
      margin: 0 2rem 0 1rem;
      font-size: 1.1rem;
      width: 7rem;
      align-items: center;
      display: flex;
      padding-top: 0.5rem;
      &-icon {
        margin-right: 0.6rem;
        font-size: 2.4rem;
        opacity: 0.8;
        padding-bottom: 0.4rem;
      }
    }
  }
  &__body {
    // margin-top: 4rem;
    width: 100%;
    height: 27rem;
    margin-top: 2rem;
    &--courses {
      width: 100%;
    }
  }
  &__img {
    width: 14rem !important;
    // background: url("../images/#{$nth}.png") no-repeat center center;
    position: relative;
    &--title {
      position: absolute;
      top: 12rem;
      font-size: 1.3rem;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.726);
      width: 100%;
      text-align: center;
    }
    &-deactived {
      filter: grayscale(100%);
      pointer-events: none;
    }
  }

  &__subtitle {
    font-family: "SF pro", -apple-system, BlinkMacSystemFont;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 14rem;
    margin-top: 1rem;
    justify-content: space-between;

    &--subject {
      color: #fff;
      font-family: "SF pro", -apple-system, BlinkMacSystemFont;
      font-weight: bold;
      font-size: 1.5rem;
      height: 4rem;
      overflow-y: hidden;
    }
    &--teacher {
      font-size: 1.1rem;
      line-height: 1.5rem;
      color: #8d9197;
    }
  }

  &__carousel {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &--complete {
      position: absolute;
      width: 3.5rem;
      top: 0.7rem;
      right: 0.7rem;
      &-percent {
        color: #fff;
        font-size: 1rem;
        position: absolute;
        top: 1.1rem;
        right: 0.3rem;
        display: flex;
        justify-content: center;
        width: 3rem;
      }
    }
    position: relative;
    &__icon {
      color: #acabab;
      font-size: 4rem;
      font-weight: 10;
      &:hover {
        color: #fff;
      }
    }
    &--button {
      &-next {
        background: linear-gradient(90deg, #22222221 0%, #070707 100%);
        box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
        bottom: 0;
        position: absolute;
        right: 0;
        height: 27rem;
        width: 5rem;
      }
      &-prev {
        background: linear-gradient(270deg, #22222205 0%, #070707 100%);
        bottom: 0;
        position: absolute;
        left: 0;
        height: 27rem;
        width: 5rem;
        animation: moveToLeftDry 0.5s;
      }
    }
  }
  &__planner{
    margin-left: auto;
    cursor: pointer;
    color: gray;
    display: inline-flex;
    &:disabled{
      cursor: progress
    }
    &__title{
      margin-bottom: auto;
      margin-top: auto;
    }
    i{
      font-size: 2.8rem;
      padding: 0.25rem;
      padding-right: 0.5rem;
      padding-left: 1rem;
      transition: 0.3s;
    }
    &:hover{
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(30,30,30,0.55) 100%);
      i{
        color: white;
      }
    }
  }
  &__renovacao{
    &--button{
      background-color: #cc0000;
      color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 0.1rem;
    }
  }
}

.carousel__slide {
  height: 27rem;
  overflow: hidden;
  justify-content: flex-start !important;
}

.campaign {
  &__img {
    height: 25rem;
  }
  &__title {
    color: #8d9197;
    font-size: 1.8rem;
    display: flex;
    padding-bottom: 1rem;
  }
  &__body {
    background: #1e1d1d;
    padding: 0 22%;
    margin: 1rem 0 1rem 0rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    &--carousel {
      height: 100%;
    }
  }
  &__carousel {
    width: 47rem;
    &--item {
      height: 25rem;
      width: 100%;
      margin-right: 50px;
      // margin-left: -20vw;
      // overflow: hidden;
    }
  }
}

// .flickity-slider {
//   width: 172vw !important;
// }

.hideToRight {
  display: none;
  animation: moveToLeft 0.2s;
}

.hideToLeft {
  display: none;
  animation: moveToRight 0.2s;
}

.Dropdown {
  &-arrow-wrapper {
    color: #fff;
  }
  &-option {
    color: #fff !important;
    display: flex !important;
    justify-content: center;
    width: 100%;
    border-bottom: rgba(141, 145, 151, 0.096) solid .1rem;
    &:hover {
      background: rgba(51, 51, 51, 0.8) !important;
    }
  }
}
