.dropdown {
  &-menu {
    display: none !important;
    height: 32.2rem;
    background: #1e1c1a !important;
    align-items: center;
    top: 3.4rem !important;
    right: 0.56rem !important;
    padding: 1rem !important;
    border: #292929 solid 0.1rem !important;

    &__edit-icon {
      width: 2.2rem;
      height: 2.2rem;
      color: #fff;
      border-radius: 2rem;
      background: red;
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 2.5rem;
      right: 9rem;
    }
  }

  &-header {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    height: 12rem;
    position: relative;
  }

  &-menu__image {
    object-fit: cover;
    height: 7.6rem;
    width: 7.6rem;
    border-radius: 20rem;
    border: white solid 0.1rem !important;
  }
  &__footer {
    display: flex;
    justify-content: center;
    padding-top: .6rem;
    &-button {
      height: 3.2rem;
      width: 10.7rem;
      background: #313132;
      display: flex !important;
      color: white;
      border-radius: 0.8rem;
    }
  }
}

.open {
  // display: flex !important;
  display: inline-block !important;
}
