.form {
  font-family: "SF pro", sans-serif;
  &__body {
    display: inline-block;
    width: 100%;
  }
  &__footer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
.form-group {
  margin-bottom: 0.5rem;
}

.form-group.has-error .help-block {
  color: #dd4b39;
  font-size: 1.2rem;
  font-weight: 100;
  position: absolute;
  margin: 0rem;
  left: 0.8rem;
  bottom: -4.6rem;
  height: 7.5rem !important;
}

.has-error .form-control {
  height: 7.5rem !important;
  padding-bottom: 2rem !important;
}

.iradio_square-blue {
  margin: 2rem;
}

.input--default {
  outline: none;
  transition: all 0.2s;
  border: 0.2rem solid rgba(66, 68, 72, 1);
  color: rgba(255, 255, 255, 1);
  &:focus {
    border: 2px solid rgba(255, 255, 255, 1);
  }
}

.input--icon {
  position: absolute;
  color: $color-white;
  font-size: 2.2rem;
  top: 1rem;
  cursor: pointer;
}

.field__label {
  position: absolute;
  font-family: 'Sf pro';
  left: 0.85rem;
  bottom: 0.85rem;
  font-weight: 400;
  font-size: 1.3rem;
  color: #8d9197;
  transform-origin: top left;
  // transform: translate(0, 16px) scale(1);
  transition: all 0.1s ease-in-out;
}

.input-searchBar {
  background: rgb(30, 28, 26);
  border: 1px solid #424448;
}
