.searchBar {
  box-sizing: border-box;
  margin-right: 3rem;
  height: 33px;
  width: 333px;
  border: 1px solid #424448;
  border-radius: 4px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
  &-icon {
    font-size: 1.8rem;
    position: absolute;
    top: 0.1rem;
    z-index: 10;
    color: #fff;
    right: 0.5rem;
  }
  &-content {
    box-shadow: none;
  }
  &__input {
    background: #171717;
    color: #ffffff;
    font-family: "SF Pro";
    font-size: 12px;
    line-height: 18px;
    border-radius: 0.4rem;
    height: 33px;
    width: 333px;
    padding: 6px 10px;
    border: 1px solid #424448;
    &:focus {
      border: 1px solid #ffffff;
    }
  }
  &__dropdown {
    display: none;
    &--open {
      overflow-y: auto;
      display: inline-block;
      position: absolute;
      top: 4rem;
      left: 0;
      max-height: 648px;
      height: fit-content;
      width: 333px;
      background-color: #171717;
      box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
    }
    &--typing {
      color: #8d9197;
      font-family: "SF Pro";
      font-size: 13px;
      font-weight: 300;
      padding: 0rem 1.6rem;
      line-height: 20px;
      text-align: center;
    }
    &--empty {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 4rem;
      &-image {
        width: 8rem;
        padding-bottom: 3rem;
      }
      &-text {
        display: flex;
        text-align: center;
        color: #8d9197;
        font-family: "SF Pro";
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        &-bold {
          font-weight: bold;
        }
      }
    }
  }
  &__loading {
    left: 0;
    overflow: hidden;
  }
  &__result {
    &--title {
      color: #8d9197;
      font-family: "SF Pro";
      font-size: 13px;
      font-weight: 300;
      line-height: 24px;
      background-color: #1f1f1f;
      height: 28px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 2rem;
    }
    &--courses {
      // background: #1e1c1a;
    }
  }
}

.result {
  &__course {
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem 4rem 2rem;
    &:hover {
      cursor: pointer;
      background: #1e1c1a;
    }
    &--image {
      height: 5.46rem;
      width: 5.6rem;
      border-radius: 0.2rem;
      background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35.66%, #000000 100%);
    }
    &--info {
      display: flex;
      flex-direction: column;
      margin: 0 1.2rem;
      justify-content: space-between;
      &-course {
        color: #8d9197;
        font-family: "SF Pro";
        font-size: 0.9rem;
        letter-spacing: 0.06px;
        line-height: 1.1rem;
      }
      &-class {
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.1px;
        line-height: 1.9rem;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2.4em;
      }
      &-teacher {
        color: #8d9197;
        font-family: "SF Pro";
        font-size: 0.9rem;
        letter-spacing: 0.06px;
        line-height: 1.1rem;
      }
    }
  }
  &__class {
    padding: 2rem;
    &--course-title {
      color: #ffffff;
      font-family: "SF Pro";
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.13px;
      line-height: 19px;
      margin-bottom: 1.2rem;
    }
    &--item {
      height: 10.2rem;
      width: 28.8rem;
      background-color: #1f1f1f;
      border-radius: 4px;
      padding: 1.1rem 1.5rem 0.7rem 1.1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
        background: #2e2b28;
      }
      &-title {
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.08px;
        line-height: 15px;
      }
      &-data {
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
      }
    }
    &--image {
      width: 4.2rem;
      height: 4.2rem;
    }
    &--info {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &-class {
        color: #ffffff;
        font-family: "SF Pro";
        font-size: 9px;
        letter-spacing: 0.06px;
        line-height: 11px;
        display: flex;
      }
      &-teacher {
        color: #8d9197;
        font-family: "SF Pro";
        font-size: 9px;
        letter-spacing: 0.06px;
        line-height: 11px;
      }
    }
  }
}

.select {
  &__value-container {
    background: #1e1c1a;
    font-size: 1.2rem;
    padding: 0 1rem !important;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
    }
  }
  &__input {
    color: #fff;
  }
  &__indicators {
    display: none !important;
  }
  &__control {
    font-size: 1.2rem;
    min-height: 3rem !important;
    max-height: 3.1rem !important;
    background-color: transparent !important;
    border-color: transparent !important;
    flex-wrap: initial;
    &--is-focused {
      border: 1px solid #ffffff;
      border-radius: 4px;
      border: 1px solid #fff;
      box-shadow: none !important;
    }
  }
  &-content {
    margin: 0 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
