@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid #ddd;
  }
  .navbar-custom-menu > .navbar-nav > li {
    position: relative !important;
  }
}

.navbar {
  background: #1e1c1a;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10 !important;
  margin-left: 0 !important;

  &-nav {
    display: flex;
    align-items: center;
  }
}

.user-menu {
  // width: 12rem;
  margin: 0px 3rem;
  display: flex;
  flex-direction: row;

  &:hover {
    cursor: pointer;
    // background: #292929;
  }

  &__image {
    object-fit: cover;
    height: 3.87rem;
    width: 3.87rem;
    border-radius: 20rem;
    border: white solid 0.1rem;
    margin: 0 2rem;
  }

  &__dropdown-toggle {
    display: flex;
    align-items: center;
  }

  &__icon {
    color: white;
    font-size: 1.4rem;
    margin: 0px 0rem 0 1rem;
    padding: 0.8rem 1rem 0.8rem 1rem;

    &:hover {
      background: #292929;
    }

    &-open {
      color: white;
      font-size: 1.4rem;
      margin: 0px 0rem 0 1rem;
      padding: 0.8rem 1rem 0.8rem 1rem;
      background: #292929;
    }
  }

  &__body {
    flex-direction: column;
    display: flex;
    &-welcome {
      font-size: 1.2rem;
      color: #8d9197;
      font-family: "Sf pro", sans-serif;
      line-height: 0.7rem;
      margin-top: 1rem;
    }
    &-name {
      font-size: 1.4rem;
      color: #fff;
      font-family: "Sf pro", sans-serif;
      font-weight: bold;
    }
  }
}

.settings-menu {
  &__dropdown {
    &-menu {
      position: absolute;
      display: none !important;
      align-items: center;
      z-index: 10;
      top: 3.4rem !important;
      right: -14rem !important;
      border: #292929 solid 0.1rem !important;
      width: 33.3rem;
      padding: 1rem;
      background: linear-gradient(90deg, #222222 0%, #161616 100%);
      box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
      height: fit-content;
    }
  }

  &__dropdown-toggle {
    display: flex;
    align-items: center;
    position: relative;
    height: 4rem;
    &-open {
      display: flex;
      align-items: center;
      position: relative;
      height: 4rem;
      background: #313132;
    }
    &:hover {
      cursor: pointer;
      background: #313132;
    }
  }

  &__icon {
    color: white;
    font-size: 2.4rem;
    margin: 0px 1rem 0 1rem;
    &-on {
      display: inline-block;
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      background: #48d852;
      border-radius: 1rem;
      right: 1.3rem;
      top: 1rem;
    }
    &-off {
      display: none;
    }
  }
  &__header {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    &--title {
      color: #ffffff;
      font-family: "SF pro";
      font-size: 17px;
      font-weight: 600;
      letter-spacing: -0.41px;
      line-height: 22px;
      text-align: center;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    &--title {
      color: #ffffff;
      font-family: "SF pro";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.1px;
      line-height: 19px;
      margin: 1rem 0;
    }
    &--playing {
      display: flex;
      height: 47px;
      background: #1f1f1f;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      padding-right: 2rem;
      &-label {
        color: #ffffff;
        font-family: "SF pro";
        font-size: 11px;
        letter-spacing: 0.07px;
        line-height: 13px;
        align-items: center;
        display: flex;
      }
      &-icon {
        margin-right: 1rem;
        font-size: 2.5rem;
      }
    }

    &--about {
      height: 62px;
      display: flex;
      background: #1f1f1f;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem;
      padding-right: 2rem;
      &-title {
        color: #65686F;
        font-family: "SF pro";
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.07px;
        line-height: 13px;
        margin-bottom: .7rem;
      }
      &-label {
        color: #65686F;
        font-family: "SF pro";
        font-size: 11px;
        letter-spacing: 0.07px;
        line-height: 13px;
      }
    }
  }
}

.cast-menu {
  &__dropdown {
    &-menu {
      position: absolute;
      display: none !important;
      align-items: center;
      z-index: 10;
      top: 3.4rem !important;
      right: -14rem !important;
      border: #292929 solid 0.1rem !important;
      width: 26.3rem;
      padding: 1rem;
      background: linear-gradient(90deg, #222222 0%, #161616 100%);
      box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
      height: fit-content;
    }
    &-toggle {
      display: flex;
      align-items: center;
      position: relative;
      height: 4rem;
      &-open {
        display: flex;

        align-items: center;
        position: relative;
        height: 4rem;
        background: #313132;
      }
      &:hover {
        cursor: pointer;
        background: #313132;
      }
    }
  }


  &__icon {
    color: white;
    font-size: 2.4rem;
    margin: 0px 1rem 0 1rem;
    &-on {
      display: inline-block;
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      background: #48d852;
      border-radius: 1rem;
      right: 1.3rem;
      top: 1rem;
    }
    &-off {
      display: none;
    }
  }
  &__header {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    &--title {
      color: #ffffff;
      font-family: "SF pro";
      font-size: 17px;
      font-weight: 600;
      letter-spacing: -0.41px;
      line-height: 22px;
      text-align: center;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    &--title {
      color: #ffffff;
      font-family: "SF pro";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.1px;
      line-height: 19px;
      margin: 1rem 0;
    }
    &--about {
      height: 62px;
      display: flex;
      background: #1f1f1f;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      &:hover {
        background: #313132;
        cursor: pointer;
      }
      &-title {
        color: #65686F;
        font-family: "SF pro";
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.07px;
        line-height: 13px;
        margin-bottom: .7rem;
      }
      &-label {
        color: #FFF;
        font-family: "SF pro";
        font-size: 15px;
        letter-spacing: 0.07px;
        line-height: 13px;
      }
    }
  }
}

.dropdown-settings-menu {
  &-close {
    display: none;
  }

  &-open {
    display: inline-block;
    width: 33.3rem;
  }
}

.cast-menu {
  &:hover {
    cursor: pointer;
    // background: rgb(30, 28, 26);
  }

  &__icon {
    color: white;
    font-size: 1.6rem;
    margin: 0 1.4rem;
  }
}

.notifications-menu {
  &:hover {
    cursor: pointer;
    // background: #313132;
  }

  &__icon {
    color: white;
    font-size: 2.4rem;
    margin: 0 1.4rem;
  }
}

.transmission-menu {
  &__dropdown {
    &-menu {
      position: absolute;
      display: none !important;
      height: 32.2rem;
      background: #171717 !important;
      align-items: center;
      z-index: 10;
      top: 3.4rem !important;
      right: -14rem !important;
      border: #292929 solid 0.1rem !important;
      width: 33.3rem;
      height: fit-content;
    }
  }

  &__dropdown-toggle {
    display: flex;
    align-items: center;
    position: relative;
    height: 4rem;
    &-open {
      display: flex;
      align-items: center;
      position: relative;
      height: 4rem;
      background: #313132;
    }
    &:hover {
      cursor: pointer;
      background: #313132;
    }
  }

  &__icon {
    color: white;
    font-size: 1.4rem;
    margin: 0 1.4rem;
    &-on {
      display: inline-block;
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      background: #48d852;
      border-radius: 1rem;
      right: 1.3rem;
      top: 1rem;
    }
    &-off {
      display: none;
    }
  }
  &__image {
    object-fit: cover;
    width: 100%;
    -webkit-mask-image: linear-gradient(0deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 0.63) 53.46%, #171717 100%);
  }
  &__thumb {
    height: fit-content;
    &--tag {
      position: absolute;
      top: 3.5rem;
      right: 2.2rem;
      background-color: #424448;
      color: white;
      font-family: "SF pro";
      font-size: 9px;
      width: 58.28px;
      height: 16.66px;
      border-radius: 0.3rem;
      font-weight: bold;
      display: flex;
      letter-spacing: 0.06px;
      justify-content: space-around;
      padding: 0.4rem;
      align-items: center;
      &-icon {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 1rem;
        background: #48d852;
        margin-top: 0.1rem;
      }
      &-play {
        position: absolute;
        color: red;
        font-size: 4rem;
        top: 21rem;
        right: 3rem;
        background: white;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 2rem;
        width: 3rem;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &-title {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1.6rem;
      &-name {
        color: #ffffff;
        font-family: "SF pro";
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.13px;
        line-height: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &-subname {
        color: #8d9197;
        font-family: "SF pro";
        font-size: 11px;
        letter-spacing: 0.07px;
        line-height: 13px;
        margin-top: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__list {
    &--header {
      display: flex;
      flex-direction: row;
      height: 5.6rem;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      border-bottom: rgba(141, 145, 151, 0.445) solid 0.1rem;
      &-title {
        color: #8d9197;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 15px;
        font-family: "SF pro";
      }
      &--select {
        width: 15rem;
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        color: #8d9197;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 15px;
        font-family: "SF pro";
        &:after {
          content: "";
          height: 1px;
          background: #cc0000;
          position: absolute;
          bottom: -3px;
          width: 6.2rem;
          left: 0.5rem;
          transition: all 0.4s;
        }
        &-active {
          width: 15rem;
          padding: 0 0.5rem;
          display: flex;
          justify-content: space-between;
          position: relative;
          color: #8d9197;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 0.1px;
          line-height: 15px;
          font-family: "SF pro";
          &:after {
            content: "";
            height: 1px;
            background: #cc0000;
            position: absolute;
            bottom: -3px;
            width: 5.2rem;
            left: calc(100% - 5.6rem);
            transition: all 0.4s;
          }
        }
        &-label {
          &:hover {
            cursor: pointer;
          }
          &-active {
            // color: #fff;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    &--body {
      padding: 1.4rem 2.2rem;
      background: linear-gradient(90deg, #222222 0%, #161616 100%);
      max-height: 32vw;
      overflow-y: auto;
      &-no {
        padding: 1.4rem 2.2rem;
        background: linear-gradient(90deg, #222222 0%, #161616 100%);
        max-height: 87vh;
        overflow-y: auto;
      }
    }
    &--item {
      width: 28.8rem;
      height: 12rem;
      margin-top: 1.4rem;
      background: #1f1f1f;
      border-radius: 4px;
      padding: 0.7rem;
      &:first-child {
        margin-top: 0rem;
      }
      &-image {
        height: 6.7rem;
      }
      &-content {
        display: flex;
        margin-bottom: 1.4rem;
      }
      &-data {
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-title {
        color: #ffffff;
        font-family: "SF pro";
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.08px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3em;
        line-height: 1.5em;
      }
      &-time {
        color: #8d9197;
        font-family: "SF pro";
        font-size: 11px;
        letter-spacing: 0.07px;
        line-height: 13px;
      }
    }
    &-divider {
      height: 0.1rem;
      background: #171717;
    }
    &-footer {
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-family: "SF pro";
      font-size: 11px;
      letter-spacing: -0.06px;
      line-height: 13px;
      &:hover {
        cursor: pointer;
        color: #8d9197;
      }
      &-play {
        color: red;
        background: white;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 1rem;
        width: 1.9rem;
        font-size: 2.2rem;
        margin: 0 1rem;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    margin-top: 2rem;
    background: linear-gradient(90deg, #222222 0%, #161616 100%);
    &--watchMore {
      color: #ffffff;
      font-family: "SF pro";
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -0.07px;
      line-height: 15px;
      text-align: center;
      &:hover {
        cursor: pointer;
        color: #8d9197;
      }
    }
  }
}
.dropdown-transmission-menu {
  &-close {
    display: none;
  }

  &-open {
    display: inline-block;
    width: 33.3rem;
  }
}

.search__form-box {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.maximize-menu {
  &__botao {
    display: flex;
    align-items: center;
    position: relative;
    height: 4rem;
    cursor: pointer;
    &:hover {
      background: #313132;
    }
   &:disabled{
     cursor: progress;
   }
  }
  &__icon {
    color: white;
    font-size: 2rem;
    margin: 0px 1rem 0 1rem;
  }
}

