.main-sidebar {
  background: linear-gradient(270deg, #222222 0%, #000000 100%);
  box-shadow: 16px 9px 19px 0 rgba(0, 0, 0, 0.36);
  min-height: 100vh;
}

.menu-item {
  height: 4.3rem;
  display: flex;
  align-items: center;
  font-family: "SF pro", -apple-system, BlinkMacSystemFont;
  &__icon {
    color: #acabab;
    font-size: 1.6rem;
    width: 2rem;
    justify-content: center;
    display: flex;
    &-active {
      color: white;
    }
  }
  &__label {
    color: #acabab;
    font-size: 1.4rem;
    margin-left: 1.35rem;
    &-active {
      color: white;
    }
  }
}

.active {
  border-left: #cc0000 solid 0.4rem;
  &_item {
    padding: 12px 5px 12px 16px !important;
    font-weight: bold;
  }
}

.divider-horizontal {
  height: 2px;
  width: 55px;
  border: 1px solid #000000;
  &-open {
    height: 2px;
    width: 217px;
    border: 1px solid #000000;
  }
}

.sidebar {
  &-open {
    width: 23rem !important;
  }

  &-collapse {
    width: 5.5rem;
  }

  &__icon {
    width: 14rem;
    height: 4.5rem;

    transition: all 0.5s;
    transition-timing-function: ease-in;
    &-mini {
      width: 4rem;
      height: 4.5rem;
    }
  }

  &-menu {
    margin-top: 5.5rem;
    & li > a {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 12px 5px 12px 20px;
    }
  }

  &__logo {
    &-lg {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 2.4rem;
      top: 4rem;
    }
    &-mini {
      display: flex;
      justify-content: center;
      position: absolute;
      left: calc(50% - 2rem);
      top: 4rem;
    }
  }

  &__close-icon {
    font-size: 2.5rem;
    color: #acabab;
    height: 4.5rem;
    width: 2.7rem;
    justify-content: center;
    display: flex;
    background: #1a1916;
    align-items: center;
    position: absolute;
    top: 35.2rem;
    right: 0;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
  &__image-background {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
  }
}

.content-collapse {
  margin-left: 5.5rem !important;
}

.content-open {
  margin-left: 23rem !important;
}

.hide {
  display: none;
}
