.loading {
    position: absolute;
    width: 30%;
    top: 34%;
    min-height: 100%;
    right: 30%;
    z-index: 1000;

    &__mask {
        height: 400px;
        width: 400px;
        position: absolute;
        z-index: 99999;
    }

    &__no-overlay {
        position: relative;
        background: transparent;
        width: 100%;
        min-height: 100%;
    }
}
