.animated-entry--left {
    animation-name: moveToLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}
.animated-entry--right {
    animation: moveToRight 0.8s ease-out;
    -webkit-animation: moveToRight 0.8s ease-out;
}

.favorite__item-transition-leave {
  opacity: 1;
}

.favorite__item-transition-leave.favorite__item-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.favorite__item-exit {
  opacity: 1;
}
.favorite__item-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
