@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    70% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToRightDry {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToRightOut {
    0% {
        opacity: 0;
        transform: translateX(0rem);
    }

    100% {
        opacity: 1;
        transform: translateX(10);
    }
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    70% {
        transform: translateX(1rem);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToLeftDry {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveToDownDry {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes myAnimation {
  0% {
    transform: scaleY(0);
  }
  4.34783% {
    transform: scaleY(0.1629);
  }
  8.69565% {
    transform: scaleY(0.30503);
  }
  13.04348% {
    transform: scaleY(0.42825);
  }
  17.3913% {
    transform: scaleY(0.5343);
  }
  21.73913% {
    transform: scaleY(0.62487);
  }
  26.08696% {
    transform: scaleY(0.70154);
  }
  30.43478% {
    transform: scaleY(0.76581);
  }
  34.78261% {
    transform: scaleY(0.81909);
  }
  39.13043% {
    transform: scaleY(0.86272);
  }
  43.47826% {
    transform: scaleY(0.89794);
  }
  47.82609% {
    transform: scaleY(0.9259);
  }
  52.17391% {
    transform: scaleY(0.94768);
  }
  56.52174% {
    transform: scaleY(0.96427);
  }
  60.86957% {
    transform: scaleY(0.97655);
  }
  65.21739% {
    transform: scaleY(0.98536);
  }
  69.56522% {
    transform: scaleY(0.99142);
  }
  73.91304% {
    transform: scaleY(0.99537);
  }
  78.26087% {
    transform: scaleY(0.99777);
  }
  82.6087% {
    transform: scaleY(0.99909);
  }
  86.95652% {
    transform: scaleY(0.99971);
  }
  91.30435% {
    transform: scaleY(0.99994);
  }
  95.65217% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes myAnimationInverse {
  0% {
    transform: scaleY(1000);
  }
  4.34783% {
    transform: scaleY(6.13874);
  }
  8.69565% {
    transform: scaleY(3.27837);
  }
  13.04348% {
    transform: scaleY(2.33508);
  }
  17.3913% {
    transform: scaleY(1.87161);
  }
  21.73913% {
    transform: scaleY(1.60033);
  }
  26.08696% {
    transform: scaleY(1.42544);
  }
  30.43478% {
    transform: scaleY(1.30581);
  }
  34.78261% {
    transform: scaleY(1.22087);
  }
  39.13043% {
    transform: scaleY(1.15912);
  }
  43.47826% {
    transform: scaleY(1.11366);
  }
  47.82609% {
    transform: scaleY(1.08003);
  }
  52.17391% {
    transform: scaleY(1.05521);
  }
  56.52174% {
    transform: scaleY(1.03705);
  }
  60.86957% {
    transform: scaleY(1.02401);
  }
  65.21739% {
    transform: scaleY(1.01486);
  }
  69.56522% {
    transform: scaleY(1.00865);
  }
  73.91304% {
    transform: scaleY(1.00465);
  }
  78.26087% {
    transform: scaleY(1.00223);
  }
  82.6087% {
    transform: scaleY(1.00091);
  }
  86.95652% {
    transform: scaleY(1.00029);
  }
  91.30435% {
    transform: scaleY(1.00006);
  }
  95.65217% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes spin { 
  0% { transform: rotate(180deg); }
  100% { transform:rotate(0deg); } 
}


@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
