// GENERAL COLORS
$color-primary: rgba(204,0,0,1);
$color-primary-light: #113950;
$color-primary-dark: #113950;

$color-secondary: rgba(66,68,72,1);
$color-secondary-light: rgba(31,31,31,1);
$color-secondary-dark: rgba(23,23,23,1);

// $color-tertiary: #C21F35;
// $color-tertiary-light: #D74559;
// $color-tertiary-dark: #770010;

// MESSAGE COLORS
$success: #27ae60;
$info: #2980b9;
$warning: #f1c40f;
$error: #f53d3d;

$background-color-default: #ecf0f5;

$color-black: rgba(23,23,23,0.5);
$color-white: #ffffff;
$color-gray-light: rgba(66,68,72,1);

// TEXT COLORS
$color-text-dark: #444444;
$color-text-light: #eeeeee;

$color-bgc-container-light: #efefef;

// FONT
$default-font-size: 1.6rem;

// GRID
$container-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$main-theme-color: $color-primary;