@import "../icons/style.css";

@import "./abstracts/variables", "./abstracts/mixins", "./abstracts/functions", "./abstracts/placeholders",
  "./abstracts//animate";

@import "./base/reset", "./base/base", "./base/typography", "./base//utils";

@import // './layout/header',
    "./layout/grid",
  "./layout/header", "./layout/navbar", "./layout/form", "./layout/sidebar", "./layout/dropdown", "./layout/courses";

@import "./components/button", "./components/modal";

@import "./pages/login", "./pages/home", "./pages/course", "./pages/favorites", "./pages/downloads",
  "./pages/forgotPassword", "./pages/unauthorized", "./pages/terms", "./pages/onboarding", "./pages/messages",
  "./pages/consulting", "./pages/dados";

@import "./skins/skin-gw";

.rc-table {
  overflow: auto !important;
}
.css-10nd86i {
  position: relative;
  box-sizing: border-box;
  border: none;
}

.css-1pcexqc-container {
  padding: 0;
  border: none;
}

::-webkit-scrollbar {
  width: 2px;
  margin: 0 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-tlfecz-indicatorContainer {
  display: none !important;
}

.wrapper {
  overflow-y: hidden !important;
  user-select: none;
}

.error {
  display: flex;
  background: #00aff9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
  & > h1 {
    margin: 0.8em 3rem;
    font: 7em Roboto;
  }
  & > p {
    display: flex;
    position: absolute;
    margin: 0.2em 3rem;
    font: 3em Roboto;
    top: 23rem;
  }
}

.flickity-page-dots {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}
